.ever-field {
	display: block;
	width: 100%;
	height: 29px !important;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555555;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

	&-inline{
		width: 350px !important;
	}

	&::-ms-expand {
		border: 0;
		background-color: transparent;
	}

	&[disabled],
	&[readonly],
	fieldset[disabled] & {
		background-color: #eeeeee;
		opacity: 1;
	}

	&[disabled],
	fieldset[disabled] & {
		cursor: not-allowed;
	}

	+.description{
		font-size: 14px;
		font-weight: 400;
		color: #666;
		display: block;
		margin: 2px 0 5px;
		font-style: normal;
	}

	&.chosen-container{
		background: transparent;
		border: none;
		padding: 0;
	}
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
	input[type="date"],
	input[type="time"],
	input[type="number"],
	input[type="datetime-local"],
	input[type="month"] {
		&.ever-field {
			line-height: 29px;
		}
	}
}

.ever-label{
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: bold;
}

.ever-form-group {
	margin-bottom: 15px;
}
textarea.ever-field, textarea.ever-field-inline{
	min-height: 100px !important;
}

input[type="radio"],
input[type="checkbox"] {
	&.ever-checkbox,
	&.ever-radio{
		margin: -2px 5px 0 5px;
		margin-top: 1px \9; // IE8-9
		line-height: normal;
	}
}

.ever-checkbox,
.ever-radio{
	position: relative;
	display: block;
	margin-bottom: 10px;
	margin-top: 10px;
	label {
		min-height: 20px;
		padding-left: 20px;
		font-weight: bold;
		cursor: pointer;
	}
}

.ever-radio input[type="radio"],
.ever-radio-inline input[type="radio"],
.ever-checkbox input[type="checkbox"],
.ever-checkbox-inline input[type="checkbox"] {
	position: absolute;
	margin-top: 1px;
	margin-left: -20px;

}

.ever-radio + .ever-radio,
.ever-checkbox + .ever-checkbox {
	margin-top: -5px;
}

// Radios and checkboxes on same line
.ever-radio-inline,
.ever-checkbox-inline {
	position: relative;
	display: inline-block;
	padding-left: 20px;
	margin-bottom: 0;
	vertical-align: middle;
	font-weight: normal;
	cursor: pointer;
	margin-left: 5px;
}
.ever-radio-inline + .ever-radio-inline,
.ever-checkbox-inline + .ever-checkbox-inline {
	margin-top: 0;
	margin-left: 10px; // space out consecutive inline controls
}

input[type="radio"].ever-radio,
input[type="checkbox"].ever-checkbox {

	&[disabled],
	&.disabled,
	fieldset[disabled] & {
		cursor: not-allowed;
	}
}

.ever-required-field{
	color: #f62d51;
}
.ever-has-error .ever-field {
	border-color: #a94442;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

// Checkbox Input Design
.ever-form-group{
	&._sponsored_field {
		position: relative;
		display: inline-block;
		width: 60px;
		height: 30px;
		input {
			display:none;
		}
		label{
			position: absolute;
			cursor: pointer;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: transparent;
			border: 2px solid #ccc;
			-webkit-transition: .4s;
			transition: .4s;
			border-radius: 34px;
			text-indent: -9999px;
			&:before {
				position: absolute;
				content: "";
				height: 20px;
				width: 20px;
				left: 2px;
				top: 1px;
				bottom: 0;
				background-color: #ccc;
				border: 2px solid #ccc;
				transition: .4s;
				border-radius: 50%;
			}
		}
		input:checked + label {
			border: 2px solid #00a0d2;
			&:before{
				border: 2px solid #00a0d2;
				background-color: #00a0d2;
				transform: translateX(28px);
			}
		}
	}
}














