.ever-container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 768px) {
	.ever-container {
		width: 750px;
	}
}

@media (min-width: 992px) {
	.ever-container {
		width: 970px;
	}
}

@media (min-width: 1200px) {
	.ever-container {
		width: 1170px;
	}
}

.ever-container-fluid {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.ever-row{
	margin-right: -15px;
	margin-left: -15px;
	&:before {
		display: table;
		content: " ";
	}
}

.ever-col-1, .ever-col-2, .ever-col-3, .ever-col-4, .ever-col-5, .ever-col-6, .ever-col-7, .ever-col-8, .ever-col-9, .ever-col-10, .ever-col-11, .ever-col-12 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 6px 0;
}

@media (min-width: 992px) {
	.ever-col-1, .ever-col-2, .ever-col-3, .ever-col-4, .ever-col-5, .ever-col-6, .ever-col-7, .ever-col-8, .ever-col-9, .ever-col-10, .ever-col-11, .ever-col-12 {
		float: left;
	}
	.ever-col-12 {
		width: 100%;

	}
	.ever-col-11 {
		width: 91.66666667%;
	}
	.ever-col-10 {
		width: 83.33333333%;
	}
	.ever-col-9 {
		width: 75%;
	}
	.ever-col-8 {
		width: 66.66666667%;
	}
	.ever-col-7 {
		width: 58.33333333%;
	}
	.ever-col-6 {
		width: 50%;
	}
	.ever-col-5 {
		width: 41.66666667%;
	}
	.ever-col-4 {
		width: 33.33333333%;
	}
	.ever-col-3 {
		width: 25%;
	}
	.ever-col-2 {
		width: 16.66666667%;
	}
	.ever-col-1 {
		width: 8.33333333%;
	}
	.ever-col-pull-12 {
		right: 100%;
	}
	.ever-col-pull-11 {
		right: 91.66666667%;
	}
	.ever-col-pull-10 {
		right: 83.33333333%;
	}
	.ever-col-pull-9 {
		right: 75%;
	}
	.ever-col-pull-8 {
		right: 66.66666667%;
	}
	.ever-col-pull-7 {
		right: 58.33333333%;
	}
	.ever-col-pull-6 {
		right: 50%;
	}
	.ever-col-pull-5 {
		right: 41.66666667%;
	}
	.ever-col-pull-4 {
		right: 33.33333333%;
	}
	.ever-col-pull-3 {
		right: 25%;
	}
	.ever-col-pull-2 {
		right: 16.66666667%;
	}
	.ever-col-pull-1 {
		right: 8.33333333%;
	}
	.ever-col-pull-0 {
		right: auto;
	}
	.ever-col-push-12 {
		left: 100%;
	}
	.ever-col-push-11 {
		left: 91.66666667%;
	}
	.ever-col-push-10 {
		left: 83.33333333%;
	}
	.ever-col-push-9 {
		left: 75%;
	}
	.ever-col-push-8 {
		left: 66.66666667%;
	}
	.ever-col-push-7 {
		left: 58.33333333%;
	}
	.ever-col-push-6 {
		left: 50%;
	}
	.ever-col-push-5 {
		left: 41.66666667%;
	}
	.ever-col-push-4 {
		left: 33.33333333%;
	}
	.ever-col-push-3 {
		left: 25%;
	}
	.ever-col-push-2 {
		left: 16.66666667%;
	}
	.ever-col-push-1 {
		left: 8.33333333%;
	}
	.ever-col-push-0 {
		left: auto;
	}
	.ever-col-offset-12 {
		margin-left: 100%;
	}
	.ever-col-offset-11 {
		margin-left: 91.66666667%;
	}
	.ever-col-offset-10 {
		margin-left: 83.33333333%;
	}
	.ever-col-offset-9 {
		margin-left: 75%;
	}
	.ever-col-offset-8 {
		margin-left: 66.66666667%;
	}
	.ever-col-offset-7 {
		margin-left: 58.33333333%;
	}
	.ever-col-offset-6 {
		margin-left: 50%;
	}
	.ever-col-offset-5 {
		margin-left: 41.66666667%;
	}
	.ever-col-offset-4 {
		margin-left: 33.33333333%;
	}
	.ever-col-offset-3 {
		margin-left: 25%;
	}
	.ever-col-offset-2 {
		margin-left: 16.66666667%;
	}
	.ever-col-offset-1 {
		margin-left: 8.33333333%;
	}
	.ever-col-offset-0 {
		margin-left: 0;
	}
}



