.ever-modal-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	z-index: 1;
	padding: 20px;
	box-sizing: border-box;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.75);
	text-align: center;
	&:before {
		content: "";
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-right: -0.05em;
	}
}
.ever-modal-open{
	overflow: hidden;
}
.ever-modal {
	overflow-x: hidden;
	overflow-y: auto;
	display: block;
	z-index: 1072;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	min-height: 100vh !important;

	.ever-modal-inner {
		transform: translate(0, 0);
		transition: -webkit-transform .3s ease-out;
		transition: transform .3s ease-out;
		position: relative;
		width: auto;
		pointer-events: none;
	}
	.ever-modal-content {
		position: relative;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		width: 100%;
		pointer-events: auto;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid rgba(0, 0, 0, .2);
		border-radius: .3rem;
		outline: 0;
		-webkit-overflow-scrolling: touch;
		padding: 10px 10px 100px 0;
	}

	&.ever-modal-fullwidth{
		.ever-modal-content{
			min-height: 100vh;
		}
	}
	&-close{
		border: 0;
		background: transparent;
		display: inline-block;
		position: absolute;
		right: 10px;
		top: 10px;
		cursor: pointer;

		svg{
			font-size: 34px;
			color: #dc3545;
		}
	}
}

//.ever-modal-wrapper{
//	backface-visibility: hidden;
//	position: fixed;
//	z-index: 10000;
//	top: 0;
//	right: 0;
//	bottom: 0;
//	left: 0;
//	overflow: auto;
//	text-align: center;
//	-webkit-overflow-scrolling: touch;
//	padding: 10px 10px 0;
//	display: block;
//	&:after {
//		display: inline-block;
//		height: 100%;
//		margin-left: -.05em;
//		content: "";
//	}
//}
//.ever-modal{
//	position: relative;
//	outline: 0;
//	-moz-text-size-adjust: 100%;
//	-ms-text-size-adjust: 100%;
//	text-size-adjust: 100%;
//	-webkit-box-sizing: border-box;
//	box-sizing: border-box;
//	width: 100%;
//	margin-bottom: 10px;
//	padding: 35px;
//	-webkit-transform: translate3d(0,0,0);
//	transform: translate3d(0,0,0);
//	color: #2b2e38;
//	background: #fff;
//}

//.ever-modal {
//	position: absolute;
//	background: #fff;
//	visibility: visible;
//	opacity: 1;
//	filter: alpha(opacity=0);
//	top: 0;
//	right: 0;
//	left: 0;
//	margin: 0 0 0 -20px;
//	z-index: 99;
//	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
//	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
//	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
//	overflow-x: hidden;
//	overflow-y: auto;
//	height: auto;
//	width: auto;
//
//	&.ever-modal-full-width {
//		height: 100vh;
//		width: inherit;
//	}
//	&.ever-modal-auto-width {
//		position: absolute;
//		top: 50%;
//		left: 50%;
//		transform: translate(-50%, -50%);
//		min-width: 300px;
//		min-height: 300px;
//	}
//
//	.ever-modal-header {
//		.ever-modal-title {
//			margin: 0;
//			background-color: #f0f0f0;
//			font-size: 16px;
//			text-align: left;
//			padding: 15px 10px;
//			font-weight: 400;
//			line-height: 1;
//			color: #464646;
//		}
//	}
//	.ever-modal-body {
//		padding: 15px 10px;
//		display: block;
//		overflow: auto;
//	}
//
//	&.hrm-full-modal{
//		background: #eff3f6;
//		.ever-modal-body{
//			max-width: 900px;
//			margin-left: auto;
//			margin-right: auto;
//		}
//	}
//
//}

//.ever-modal-wrapper {
//
//
//	.ever-modal-close {
//		position: absolute;
//		top: 20px;
//		right: 20px;
//		z-index: 999;
//		height: 40px;
//		width: 40px;
//		border-radius: 100%;
//		color: red;
//		background: #fff;
//		border: 0;
//		cursor: pointer;
//		-webkit-appearance: none;
//		display: inline-block;
//
//		font-size: 20px;
//		line-height: 1;
//		font-family: dashicons;
//		text-decoration: inherit;
//		font-weight: normal;
//		font-style: normal;
//		vertical-align: top;
//		text-align: center;
//		transition: color .1s ease-in 0;
//		-webkit-font-smoothing: antialiased;
//		-moz-osx-font-smoothing: grayscale;
//
//		&:before{
//			content: "\f335";
//		}
//		&:focus{
//			outline: none !important;
//		}
//		//background: #00aeef;
//		//
//		//background: linear-gradient(to right, #00aeef 0%, #74ccec 100%);
//		//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aeef', endColorstr='#74ccec', GradientType=1 );
//		//border-radius: 50%;
//		//height: 50px;
//		//left: -15px;
//		//opacity: 1;
//		//position: relative;
//		//top: 15px;
//		//width: 50px;
//		//text-shadow: inherit;
//		//color: #fff;
//		//z-index: 99;
//	}
//}
//
.ever-modal-loader {
	width: 75px;
	height: 100px;
	position: fixed;
	z-index: 999;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	&-bar {
		position: absolute;
		bottom: 0;
		width: 10px;
		height: 50%;
		background: #ffffff;
		transform-origin: center bottom;
		box-shadow: 1px 1px 0 rgba(0, 0, 0, .2);

		@for $i from 1 through 5 {
			&:nth-child(#{$i}) {
				left: ($i - 1) * 15px;
				transform: scale(1, $i*.2);
				animation: barUp#{$i} 4s infinite;
			}
		}

	}

	&-ball {
		position: absolute;
		bottom: 10px;
		left: 0;
		width: 10px;
		height: 10px;
		background: #ffffff;
		border-radius: 50%;
		animation: ball 4s infinite;
	}
}

@keyframes ball {
	0% {
		transform: translate(0, 0);
	}
	5% {
		transform: translate(8px, -14px);
	}
	10% {
		transform: translate(15px, -10px)
	}
	17% {
		transform: translate(23px, -24px)
	}
	20% {
		transform: translate(30px, -20px)
	}
	27% {
		transform: translate(38px, -34px)
	}
	30% {
		transform: translate(45px, -30px)
	}
	37% {
		transform: translate(53px, -44px)
	}
	40% {
		transform: translate(60px, -40px)
	}
	50% {
		transform: translate(60px, 0)
	}
	57% {
		transform: translate(53px, -14px)
	}
	60% {
		transform: translate(45px, -10px)
	}
	67% {
		transform: translate(37px, -24px)
	}
	70% {
		transform: translate(30px, -20px)
	}
	77% {
		transform: translate(22px, -34px)
	}
	80% {
		transform: translate(15px, -30px)
	}
	87% {
		transform: translate(7px, -44px)
	}
	90% {
		transform: translate(0, -40px)
	}
	100% {
		transform: translate(0, 0);
	}
}

@keyframes barUp1 {
	0% {
		transform: scale(1, .2);
	}
	40% {
		transform: scale(1, .2);
	}
	50% {
		transform: scale(1, 1);
	}
	90% {
		transform: scale(1, 1);
	}
	100% {
		transform: scale(1, .2);
	}
}

@keyframes barUp2 {
	0% {
		transform: scale(1, .4);
	}
	40% {
		transform: scale(1, .4);
	}
	50% {
		transform: scale(1, .8);
	}
	90% {
		transform: scale(1, .8);
	}
	100% {
		transform: scale(1, .4);
	}
}

@keyframes barUp3 {
	0% {
		transform: scale(1, .6);
	}
	100% {
		transform: scale(1, .6);
	}
}

@keyframes barUp4 {
	0% {
		transform: scale(1, .8);
	}
	40% {
		transform: scale(1, .8);
	}
	50% {
		transform: scale(1, .4);
	}
	90% {
		transform: scale(1, .4);
	}
	100% {
		transform: scale(1, .8);
	}
}

@keyframes barUp5 {
	0% {
		transform: scale(1, 1);
	}
	40% {
		transform: scale(1, 1);
	}
	50% {
		transform: scale(1, .2);
	}
	90% {
		transform: scale(1, .2);
	}
	100% {
		transform: scale(1, 1);
	}
}
