.ehrm-pagination{
  margin: 0;
  display: inline-block;
  list-style: none;
  li {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1;
    text-align: center;
    vertical-align: middle;
    a {
      color: #444;
      display: inline-block;
      font-size: 14px;
      padding: 0 10px;
      line-height: 30px;
      text-decoration: none;
      span {
        line-height: 30px;
      }
    }
    &.disabled {
      a {
        color: #3333;
      }
    }

    &:hover {
      background-color: #f2f2f2;
    }
    &.current {
      background-color: #ddd;
      a {
        color: #333333;
      }
    }
  }
}

.ehrm-pagination-result {
  padding: 0;
  margin: 0;
  vertical-align: middle;
  line-height: 30px;
  font-size: 14px;
}
.ehrm-pagination-wrp{
  display: block;
  overflow: hidden;
  height: auto;
  min-height: 54px;
  right: 0;
  position: relative;
  box-sizing: border-box;
  margin: 12px 0 25px;
  width: 100%;
  @include ehrm-card;
}
