.ehrm-table {
  width: 100%;
  text-align: left;
  padding: 0;
  border-spacing: 0;
  border-collapse: collapse;
  margin: 12px 0 25px;
  //@include ehrm-card;


  thead,tfoot {
    background-color: #f2f2f2;
  }
  tr {
    border-bottom: 1px solid #ececec;
    &:nth-child(even) {
      background-color: #fafcfc;
    }
  }
  td {
    padding: 5px 15px;
    font-size: 12px;
    color: #555;

  }
  th {
    font-size: 14px;
    color: #333333;
    font-weight: 500;
    line-height: 2.5;
    border: none;
    text-align: left;
    vertical-align: middle;
    padding: 4px 15px;
  }

  tr{
    td,th{
      &:first-child{
        //max-width: 50px;
      }

      &:last-child{
        //max-width: 100px;
      }
    }
  }
}
