.ever-inline {
  display: inline !important;
}

.ever-block {
  display: block;
}

.ever-float-left {
  float: left !important;
}

.ever-float-right {
  float: right !important;
}

.ehrm-align-center {
  text-align: center!important;
}

.ehrm-align-left {
  text-align: left!important;
}

.ehrm-align-right {
  text-align: right!important;
}
