//@import "variables";
//@import "grid";
//@import "form";
//@import "utility";
//@import "components";
//
//.ever-form-group.product_id_field {
//	label, .ever-hrm-description{
//		display: block;
//	}
//	.ever-hrm-description{
//		margin-top: 10px;
//	}
//}
//
//.ever-form-group .select2{
//	max-width: 100%;
//}
