
table.wp-list-table {

	.column-wcsn_items {
		width: 48px;
		text-align: center;
	}

	.wcsn-items-column-icon,
	.wcsn-items-icon {
		display: block;
		text-indent: -9999px;
		position: relative;
		height: 1em;
		width: 1em;
		margin: 0 auto;
		font-size: 1.5em;

		&:after {
			font-weight: 400;
			margin: 0;
			text-indent: 0;
			position: absolute;
			width: 100%;
			height: 100%;
			text-align: center;
			line-height: 16px;
			top: 0;
			speak: none;
			font-variant: normal;
			text-transform: none;
			-webkit-font-smoothing: antialiased;
			left: 0;
		}
	}

	.wcsn-items-column-icon {
		&:after {
			font-family: dashicons;
			color: #2c3338;
			content: "\f112";
			font-size: 0.9rem;
		}
	}

	.wcsn-items-icon {
		&:after {
			font-family: dashicons;
			color: #7ad03a;
			content: "\f147";
		}
	}
}

.wc-item-meta {
	list-style: none outside;

	dt,
	.wc-item-meta-label {
		float: left;
		clear: both;
		margin-right: 0.25em;
		display: inline-block;
		list-style: none outside;
	}

	dd {
		margin: 0;
	}
}
