@import "common/layout";
@import "common/grid";
@import "common/card";
@import "common/panel";
@import "common/form";
@import "common/dropdown";
@import "common/utilities";

// Admin area styles.
@import "admin/list-table";

#wcsn-notes {
	list-style: none;
	padding: 0;
	margin: 0;
	max-height: 400px;
	overflow-y: auto;


	li {
		margin-bottom: 10px;
	}

	li:last-child {
		margin-bottom: 0;
	}

	.note {
		padding: 10px;
		border: 1px solid #e1e2e2;
		border-radius: 4px;
		background: #f6f7f7;

		&__header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 10px;
		}


		&__author {
			font-weight: normal;
			font-size: 12px;
			color: #999;
			display: flex;
			align-items: center;


			img {
				width: 20px;
				height: 20px;
				border-radius: 50%;
				margin-right: 5px;
			}

			&-name {
				display: inline-block;
				margin-right: 5px;
			}
		}

		&__date {
			font-weight: normal;
			font-size: 12px;
			color: #999;
		}

		&__content {
			font-size: 14px;
			line-height: 1.4;
		}

		&__actions {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			margin-top: 10px;

			a {
				margin-right: 5px;
				font-size: 12px;
				color: #999;
				text-decoration: none;
				transition: all 0.3s ease-in-out;

				&:hover {
					color: #333;
				}
			}
		}
	}

	.pagination {
		margin-top: 20px;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			display: flex;
			align-items: center;
			justify-content: center;

			li {
				margin: 0;
				padding: 0;
				margin-right: 5px;
				display: inline-block;

				&:last-child {
					margin-right: 0;
				}

				a {
					display: block;
					padding: 5px 10px;
					border: 1px solid #ccc;
					border-radius: 4px;
					color: #333;
					text-decoration: none;
					transition: all 0.3s ease-in-out;

					&:hover {
						background: #f5f5f5;
					}
				}

				&.active {
					a {
						background: #f5f5f5;
					}
				}
			}
		}
	}
}

//
// Elements
// Styles for different elements within the admin area.
//

// Card component.
.wcsn-card {
	margin-top: 20px;
	box-sizing: border-box;

	&__header,
	&__body {
		position: relative;
		padding: 1em 2em 1em;
		width: 100%;
		border: 1px solid #c3c4c7;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
		background: #fff;
		box-sizing: border-box;
	}

	&__header {
		border-bottom: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;

		h2, h3 {
			margin: 0;
		}
	}
}

// Feature promo section.
.wcsn-feature-promo-banner {
	background: #fff;
	border: 1px solid #c3c4c7;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	margin-top: 20px;
	box-sizing: border-box;
	max-width: 800px;
	position: relative;

	> img {
		width: 100%;
		height: auto;
	}

	&__content {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		background: rgba(255, 255, 255, 0.7);
		transition: opacity 0.3s ease-in-out;

		h3 {
			color: red;
			font-size: 1.5em;
			margin: 0 0 1em;
			text-align: center;
		}
	}
}


// Key style.
// Show the serial key in a nice box with a copy button.
.wcsn-key {
	background: #f0f0f1;
	background: rgba(0, 0, 0, 0.07);
	border-radius: 3px;
	cursor: pointer;
	display: inline-block;
	font-family: Consolas, monospace;
	font-weight: 400;
	line-height: 20px;
	width: 90%;
	min-height: 20px;
	padding: 3px 10px 2px;
	position: relative;
	text-align: left;
	color: rgba(0, 0, 0, .4);

	&.copying {
		color: #155724;
	}
}

//
// Fix misc styles
// Fixing some styles that are not working properly.
//

// Margin bottom for tabs otherwise they are too close to the content.
.wcsn-nav-tabs {
	margin-bottom: 20px !important;
}

// Fix width of the key column.
.wp-list-table {

	// Keys table.
	&.keys {
		.column-key {
			width: 15%
		}

		.wcsn-key-status {
			white-space: nowrap;
			border-width: 1px;
			border-style: solid;
			padding: 2px 7px;
			border-radius: 4px;
			color: #50575e;
			background: #e6e6e6;
			border-color: #dcdcdc;

			&.available {
				color: #017d5c;
				background-color: #e5f5f0;
				border-color: #017d5c;
			}

			&.pending {
				color: #856404;
				background-color: #fff3cd;
				border-color: #ffeeba;
			}

			&.sold {
				color: #155724;
				background-color: #d4edda;
				border-color: #155724;

				&:after {
					color: #155724;
					content: "\f147";
					font-family: dashicons;
					font-size: inherit;
					font-weight: 400;
					line-height: 1;
					margin-left: 5px;
					position: relative;
					top: 1px;
				}
			}

			&.expired {
				color: #721c24;
				background-color: #f8d7da;
				border-color: #721c24
			}

			&.cancelled {
				color: #721c24;
				background-color: #f8d7da;
				border-color: #721c24
			}

		}
	}

	&.stocks {
		.column-action,
		.column-stock {
			width: 10%
		}

		.column-source {
			width: 20%;
		}

		.column-sku {
			width: 25%;
		}
	}
}

// Fix select2 width in filter
.wcsn_search_product,
.wcsn_search_customer,
.wcsn_search_order {
	+ .select2-container {
		min-width: 200px !important;
		font-size: 14px;
		vertical-align: middle;
		margin: 1px 6px 4px 1px;
	}
}

// Fix source meta field width.
._serial_key_source_field {
	label {
		margin: 0;
		width: 100%;
	}
}

// Status tab
.wcsn-tools-tab-status {
	table {
		h2 {
			font-size: 14px;
			margin: 0;
		}

		tbody {
			tr {
				td {
					&:first-child {
						width: 33%;
						font-size: 1.1em;
						font-weight: 400;
					}

					&:nth-child(2) {
						width: 1em;
					}
				}
			}
		}
	}
}
