.wcsn-halloween{
	background-color: #ffffff!important;
	padding: 0 20px;
	&__header{
		display: flex;
		align-items: center;
		gap: 1rem;
	}
	&__title{
		font-size: 1.5rem;
		font-weight: 600;
	}
	&__icon{
		width: 100%;
		max-width: 100px;
		img{
			width: 100%;
			height: auto;
		}
	}
	&__content{
		width: 100%;
	}
}
