.wcsn-form-control {
	width: 100%;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: middle;
	height: auto;
	border-radius: 0 !important;
	border: 1px solid #ddd !important;
	transition: 0.3s border;
	max-width: none !important;

	&.has-error {
		border: 1px solid red;
	}


	&:focus {
		box-shadow: none !important;
		outline: 0 !important;
		border: 1px solid $color__primary !important;
	}
}

select {
	&.wcsn-form-control {
		border-radius: 0;
		-webkit-appearance: none;
		-moz-appearance: none;
		background-position: right 50%;
		background-repeat: no-repeat;
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAYAAABSgIzaAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NDZFNDEwNjlGNzFEMTFFMkJEQ0VDRTM1N0RCMzMyMkIiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NDZFNDEwNkFGNzFEMTFFMkJEQ0VDRTM1N0RCMzMyMkIiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo0NkU0MTA2N0Y3MUQxMUUyQkRDRUNFMzU3REIzMzIyQiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo0NkU0MTA2OEY3MUQxMUUyQkRDRUNFMzU3REIzMzIyQiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PuGsgwQAAAA5SURBVHjaYvz//z8DOYCJgUxAf42MQIzTk0D/M+KzkRGPoQSdykiKJrBGpOhgJFYTWNEIiEeAAAMAzNENEOH+do8AAAAASUVORK5CYII=);
		padding: 4px 7px;
		font-size: 14px;
		line-height: 1.3;
		min-height: 34px;
	}
}

input[type='text'],
input[type='number'] {
	&.wcsn-form-control {
		font-size: 14px;
		line-height: 1.3;
		min-height: 34px;
	}
}

textarea {
	&.wcsn-form-control {
		min-height: 100px;
	}
}

.wcsn-file-field {
	position: relative;
	width: 150px;
	border: 1px dashed #c1c1c1;
	height: 150px;
	background: #f8f8f8;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 30px;

	.wcsn-file-remove {
		text-decoration: none;
		color: red;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 9;
		padding: 2px;
		visibility: hidden;
	}

	input[type="file"] {
		opacity: 0;
		position: absolute;
		width: 100%;
		height: 100%;
	}

	&::before {
		content: "\f132";
		font-family: dashicons;
		display: inline-block;
		line-height: 1;
		font-weight: 400;
		font-style: normal;
		speak: none;
		text-decoration: inherit;
		text-transform: none;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		vertical-align: top;
		text-align: center;
		transition: color .1s ease-in;
		color: #aaa;
		position: absolute;
		opacity: 1;
		top: 50%;
		left: 50%;
		font-size: 50px;
		transform: translate(-50%, -50%);
	}

	.wcsn-file-link {
		text-decoration: none;
		font-weight: 500;
		bottom: -30px;
		position: absolute;
		background: gray;
		color: #fff;
		width: 100%;
		text-align: left;
		padding: 4px 9px 5px 3px;
		box-sizing: border-box;
		display: none;

		.dashicons {
			color: #aaa;
			font-size: 50px;
		}
	}


	&.has-value {
		.wcsn-file-remove {
			visibility: visible;
		}

		input[type=file] {
			display: none;
		}

		&::before {
			content: '';
		}

		.wcsn-file-link {
			display: block;
		}

		&.file-type-file {
			background-image: url("/wp-includes/images/media/document.png");
			background-size: 50%;
		}
	}

}

//.wcsn-uploaded-file{
//	background: #f8f7f7;
//	width: 100%;
//	min-height: 100px;
//	border: 1px solid #ddd;
//}

.wcsn-switch {
	fieldset {
		label {
			display: inline-block;
			margin-bottom: 4px;
			margin-top: 4px;
		}
	}

	.wcsn-switch-view {
		display: block;
		background-color: #fff;
		border: 1px solid #72777c;
		width: 40px;
		height: 18px;
		border-radius: 20px;
		position: relative;
		transition: all 0.3s;

		&::after {
			content: '';
			display: block;
			width: 16px;
			height: 16px;
			border-radius: 50%;
			background-color: #72777c;
			// border: 1px solid #999;
			position: absolute;
			top: 1px;
			left: 1px;
			transition: all 0.3s;
		}
	}

	input[type="checkbox"] {
		display: none;

		&:checked {
			+ .wcsn-switch-view {
				background-color: #0073aa;
				border-color: #0073aa;

				&::after {
					left: 23px;
					background-color: #fff;
				}
			}
		}
	}
}

.wcsn-checkboxes {
	.wcsn-check-input {
		font-weight: 500;
		display: inline-block;
		line-height: 1.5;
		margin-right: 20px;
	}
}

.wcsn-control-label {
	display: block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 700;
}

.required .wcsn-control-label:not(span):after, td.required:after {
	content: ' *';
	color: #F00;
	font-weight: bold;
}

.wcsn-form-group {
	position: relative;
	margin-bottom: 15px;
	box-sizing: border-box;
}


.wcsn-input-group {
	position: relative;
	display: table;
	border-collapse: separate;
	margin-bottom: 15px;

	.wcsn-input-group-addon {
		border-radius: 0;
		background-color: #fff;
		padding: 6px 12px;
		font-size: 14px;
		font-weight: 400;
		line-height: 1;
		color: #555;
		text-align: center;
		border: 1px solid #d2d6de;
		min-width: 41px;


		&:first-child {
			border-right: 0;
		}
	}

	.wcsn-input-group-addon,
	.wcsn-input-group-btn {
		width: 1%;
		white-space: nowrap;
		vertical-align: middle; // Match the inputs
		display: table-cell;
		box-sizing: border-box;
	}

	.wcsn-input-group-btn {
		min-width: 30px;

		button {
			z-index: 2;
			box-shadow: none;
			border-radius: 0;
			height: 34px;
			margin: 0 0 0 -1px;
			width: 100%;
			//border: 1px solid transparent;
		}
	}
}


.wcsn-form-group {
	//Signle select
	.select2-container--default,
	.select2-selection {
		&.select2-container--focus,
		&:focus,
		&:active {
			outline: none;
		}

		.select2-selection--single {
			border: 1px solid #d2d6de;
			border-radius: 0;
			padding: 6px 12px;
			height: 34px;
		}
	}

	.select2-container--default.select2-container--open {
		border-color: #3c8dbc;
	}

	.select2-dropdown {
		border: 1px solid #d2d6de;
		border-radius: 0;
	}

	.select2-container--default .select2-results__option--highlighted[aria-selected] {
		border: 1px solid #d2d6de;
		border-radius: 0;
	}

	.select2-results__option {
		padding: 6px 12px;
		user-select: none;
		-webkit-user-select: none;
	}

	.select2-container .select2-selection--single .select2-selection__rendered {
		padding-left: 0;
		padding-right: 0;
		height: auto;
		margin-top: -4px;
	}

	.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
		padding-right: 6px;
		padding-left: 20px;
	}

	.select2-container--default .select2-selection--single .select2-selection__arrow {
		height: 28px;
		right: 3px;
	}

	.select2-container--default .select2-selection--single .select2-selection__arrow b {
		margin-top: 0;
	}

	.select2-dropdown,
	.select2-search--inline {
		.select2-search__field {
			border: 1px solid #d2d6de;

			&:focus {
				outline: none;
				border: 1px solid #3c8dbc;
			}
		}
	}

	.select2-container--default .select2-results__option[aria-disabled=true] {
		color: #999;
	}

	.select2-container--default .select2-results__option[aria-selected=true] {
		background-color: #ddd;

		&,
		&:hover {
			color: #444;
		}
	}

	//Multiple select
	.select2-container--default {
		.select2-selection--multiple {
			border: 1px solid #d2d6de;
			border-radius: 0;

			&:focus {
				border-color: #3c8dbc;
			}
		}

		&.select2-container--focus .select2-selection--multiple {
			border-color: #d2d6de;
		}
	}

	.select2-container--default .select2-selection--multiple .select2-selection__choice {
		background-color: #3c8dbc;
		border-color: #367fa9;
		padding: 1px 10px;
		color: #fff;
	}

	.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
		margin-right: 5px;
		color: rgba(255, 255, 255, .7);

		&:hover {
			color: #fff;
		}
	}

	.select2-container .select2-selection--single .select2-selection__rendered {
		padding-right: 10px;
	}
}

//reucrring
.wcsn-hidden {
	display: none;
}

.wcsn-input-group-recurring {
	margin: 0 !important;

	.wcsn-form-group:nth-child(2) {
		padding-left: 10px;
	}
}

p.wcsn-description {
	margin: 5px 0;
	font-style: italic;
	color: #666;
	font-size: 13px;
}

