.wcsn-row{
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	//margin-right: -15px;
	//margin-left: -15px;

	.wcsn-no-gutters>.wcsn-col, .wcsn-no-gutters [class*=wcsn-col-] {
		padding-right: 0;
		padding-left: 0
	}

	.wcsn-col,.wcsn-col-1,.wcsn-col-10,.wcsn-col-11,.wcsn-col-12,.wcsn-col-2,.wcsn-col-3,.wcsn-col-4,.wcsn-col-5,.wcsn-col-6,.wcsn-col-7,.wcsn-col-8,.wcsn-col-9,.wcsn-col-10,.wcsn-col-11,.wcsn-col-12{
		position: relative;
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;
		box-sizing: border-box;
	}

	.wcsn-col {
		flex-basis: 0;
		flex-grow: 1;
		max-width: 100%;
	}

	.wcsn-col-auto {
		flex: 0 0 auto;
		width: auto;
		max-width: 100%;
	}

	.wcsn-col-1 {
		-ms-flex: 0 0 8.333333%;
		flex: 0 0 8.333333%;
		max-width: 8.333333%
	}

	.wcsn-col-2 {
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%
	}

	.wcsn-col-3 {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%
	}

	.wcsn-col-4 {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%
	}

	.wcsn-col-5 {
		-ms-flex: 0 0 41.666667%;
		flex: 0 0 41.666667%;
		max-width: 41.666667%
	}

	.wcsn-col-6 {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%
	}

	.wcsn-col-7 {
		-ms-flex: 0 0 58.333333%;
		flex: 0 0 58.333333%;
		max-width: 58.333333%
	}

	.wcsn-col-8 {
		-ms-flex: 0 0 66.666667%;
		flex: 0 0 66.666667%;
		max-width: 66.666667%
	}

	.wcsn-col-9 {
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%
	}

	.wcsn-col-10 {
		-ms-flex: 0 0 83.333333%;
		flex: 0 0 83.333333%;
		max-width: 83.333333%
	}

	.wcsn-col-11 {
		-ms-flex: 0 0 91.666667%;
		flex: 0 0 91.666667%;
		max-width: 91.666667%
	}

	.wcsn-col-12 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%
	}
}
