.p-ever-card {
	border: none;
	border-top: 3px solid #3211c1;
	display: block;
	position: relative;
	//margin: 20px auto 20px;
	//padding: 16px;
	box-sizing: border-box;
	background: #fff;
	box-shadow: 0 0 0 1px #e1e2e2;
	width: 100%;
	max-width: none;
	min-width: auto;
	margin-bottom: 20px;
	margin-top: 20px;

	&-header {
		padding: 10px 20px;
		border-bottom: 1px solid #f4f4f4;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	&-title {
		padding: 0;
		margin: 0;
		line-height: 1;
		font-size: 16px;
	}

	&-body {
		padding: 20px 20px;
	}

}
